* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --foreground-color: #1a1a1a;
  --background-color: #fff;
  --accent-color: hsl(313, 100%, 26%);
  accent-color: var(--accent-color);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --background-color: #1a1a1a;
    --accent-color: hsl(313, 100%, 70%);
  }
}

:link {
  color: var(--accent-color);
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: sans-serif;
  min-height: 100vh;
  padding: 2rem;
}

button {
  background-color: var(--accent-color);
  border: none;
  min-height: 44px;
  display: flex;
  align-items: center;
  padding: 1rem;
}

input {
  background: inherit;
  color: inherit;
  border: 2px solid;
  min-height: 44px;
  padding: 8px;
  width: 100%;
}


.collaboration-cursor__caret {
	position: relative;
	margin-left: -1px;
	margin-right: -1px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	word-break: normal;
	pointer-events: none;
  }

  .collaboration-cursor__label {
	position: absolute;
	top: -1.4em;
	left: -1px;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	user-select: none;
	color: black;
	padding: 0.1rem 0.3rem;
	border-radius: 3px 3px 3px 0;
	white-space: nowrap;
  }