* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--foreground-color: #1a1a1a;
	--background-color: #fff;
	--accent-color: #bababa;
	--action-color-brightness: 26%;
	--action-color: hsl(313, 100%, var(--action-color-brightness));
	accent-color: var(--action-color);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--foreground-color: #bababa;
		--background-color: #1a1a1a;
		--accent-color: #4d4d4d;
		--action-color-brightness: 40%;
		--action-color: hsl(313, 81%, var(--action-color-brightness));
	}
}

:link {
	color: var(--action-color);
}

:focus {
	outline: 2px solid var(--action-color);
}

[aria-disabled="true"] {
  pointer-events: none;
  opacity: 0.7;
}

body {
	color: var(--foreground-color);
	background-color: var(--background-color);
	font-family: sans-serif;
	min-height: 100vh;
}

button {
	border: none;
	min-height: 44px;
	display: flex;
	align-items: center;
	padding: 0.5rem;
	width: 100%;
}

input {
	background: inherit;
	color: inherit;
	border: 0;
	outline: 1px solid var(--accent-color);
	min-height: 44px;
	padding: 8px;
	width: 100%;
}

.screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 0;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/* Move out of here*/
.collaboration-cursor__caret {
	position: relative;
	margin-left: -1px;
	margin-right: -1px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	word-break: normal;
	pointer-events: none;
}

.collaboration-cursor__label {
	position: absolute;
	top: -1.4em;
	left: -1px;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	user-select: none;
	color: black;
	padding: 0.1rem 0.3rem;
	border-radius: 3px 3px 3px 0;
	white-space: nowrap;
}
